/* header */
/* #region */
.black-logo {
    background-color: black;
}

#logo-sony {
    width: 100px;
}

.hamb-menu {
    width: 30px;
    height: 3px;
    background-color: rgb(95, 95, 95);
}

.menu {
    border: 1px solid grey;
    width: 55px;

}

.jumbo {
    background: url(../img/jumbo-bg.png)no-repeat center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.jumbo-content {
    color: white;
}

.down-arrow {
    width: 15px;
}

.lens {
    width: 25px;
}

.hidden-bar {
    display: none;
}

.dropdown-menu {
    transform: translate(0px, 140px) !important;
    border-radius: 0%;
    border: 0px;
}

.link-drop {
    color: black;
}

.bullet-blue {
    font-size: x-large;
    color: hsl(207.8, 100%, 41%);
}

.nav-button:hover {
    border: 0px;
}

.nav-button {
    border: none;
}

.search {
    width: 200px;
    text-align: center;
}

/* #endregion */

/* main */
/* #region */
.midle {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg )no-repeat center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.new-games {
    background-color: rgb(32, 32, 32);
}

.card-new-games,
.new-games,
.withe-content,
a {
    color: white;
}

.ps-plus {
    background-color: #bebcbb;
}

.ps-now {
    background-color: #161c3b;
}

.img-diagonal,
.text-thumb {
    display: none;
}

/* #endregion */
/* footer */
/* #region */
.bg-color-footer {
    background-color: #00439c;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #endregion */

/* button */
/* #region */
.black-button {
    background-color: #363636;
    border: none;
    color: white;
    width: 70px;
}

.red-button {
    background-color: #cd3d0f;
    border: none;
    color: white;
}

.xl-blu-button,
.blu-button {
    background-color: #2d64e7;
    border: none;
    color: white;
}

.withe-button {
    background-color: #d9dadc;
    color: #2d64e7;
    border: none;
    font-weight: 500;
}

/* #endregion */

/* media query */
@media screen and (min-width:992px) {

    .img-diagonal,
    .text-thumb {
        display: inherit;
    }
}

@media screen and (min-width: 1400px) {
    .hambu-menu {
        display: none;
    }

    .hidden-bar {
        display: inherit;
    }
}